{% extends "layout.html" %}


{% block body %}

	<div class="jumbotron text-centre">
		<h1 align="center">Practitioner Area</h1></br>
	</div>
	<label for="announcements" style="width:100%;font:30px Georgia, Garamond, Serif;overflow:auto;">Announcements:</label>
	<textarea readonly="true" id="announcements" name="announcements" rows="25" style="width:100%;
		border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
		
		14/10/2018: Should we... you know? kehk! *finger running accross throat*...? ~ Jane

		13/10/2018: These clerks... They are conspiring against us... I know it! ~ Stuart

		12/10/2018: We know Bill... we know. ~ Jhon
		
		12/10/2018: I like cheese! ~ Bill

	</textarea>
	
{% endblock %}